#nameList {
  margin: auto;
  text-align: center;
  margin-top: 4vh;
  max-width: 1000px;
  border-left: 4px solid #ffc6e5;
  border-top: 4px solid #ffc6e5;
  border-right: 4px solid #a0cfee;
  border-bottom: 4px solid #a0cfee;
  border-radius: 8px;
}

#searchBar {
  margin-top: 32px;
  border: 2px solid #a2c4fb;
  border-radius: 3px;
  padding: 8px;
}

#nameList > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
}

.m, .f {
  padding: 4px;
  border-radius: 3px;
  font-weight: bold;
  margin: 3px;
}

.m {
  color: #16527a;
  background-color: #a0cfee;
}

.f {
  color: #990b58;
  background-color: #ffc6e5;
}

#line {
  margin: 40px 80px;
  border-color: lightgrey;
}